##newhaha
## To activate this configuration (recommended), add the following include
## section to your .git/config file (without the # characters).
##
## [include]
##     path = ../.gitconfig
##

##
## Set a better diff hunk header filter that ignores function comments.
##

[diff "cpp"]
	xfuncname = "!^[ \t]*[A-Za-z_][A-Za-z_0-9]*:[[:space:]]*($|/[/*])\n!:$\n^((::[[:space:]]*)?[A-Za-z_].*)$"

[grep]
	linenumber = true

##
## Always rebase when pulling, since we don't like merge commits.
##

[pull]
	rebase = true

##
## Show the nice stat graph when doing git pull, which now defaults to rebase.
##

[rebase]
	stat = true

##
## Set up windiff as a guitool. To activate this, set diff.guitool to windiff.
##

[difftool "windiff"]
	cmd = windiff $LOCAL $REMOTE
